[Unit]
Description=Kafka service
After=network.target zookeeper.service

[Service]
Type=simple
#WorkingDirectory=/usr/local/kafka_2.12-2.2.0
ExecStart=/usr/local/kafka_2.12-2.2.0/bin/kafka-server-start.sh /usr/local/kafka_2.12-2.2.0/config/server.properties
ExecStop=/usr/local/kafka_2.12-2.2.0/bin/kafka-server-stop.sh
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-abnormal
#RestartSec=10s
User=root
Group=root

[Install]
WantedBy=multi-user.target
