[Unit]
Description=Zookeeper service
After=network.target

[Service]
Type=forking
WorkingDirectory=/usr/local/zookeeper-3.4.14
ExecStart=/usr/local/zookeeper-3.4.14/bin/zkServer.sh start
ExecStop=/usr/local/zookeeper-3.4.14/bin/zkServer.sh stop
ExecReload=/usr/local/zookeeper-3.4.14/bin/zkServer.sh restart
RestartSec=10s
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
